# Exclude all .asm files from language stats
*.asm linguist-generated=true

# Re-include specific files to count in language stats
drmario.asm linguist-generated=false linguist-language=Assembly
final5.asm linguist-generated=false linguist-language=Assembly
